[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
mlbgame = "*"
gunicorn = "*"
pytest = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
mock = "*"

[requires]
python_version = "3.6"
