[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
mlbgame = "*"
celery = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
hypothesis = "*"
mock = "*"

[requires]
python_version = "3.7"
