[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.1.18"
chardet = "==3.0.4"
idna = "==2.6"
lxml = "==4.2.1"
mlbgame = "*"
requests = "*"
"urllib3" = "==1.22"

[dev-packages]

[requires]
python_version = "3.6"
